html, body {
    overflow: hidden;
    background-color: #222;
}

#topNav {
    position: absolute;
    z-index: 444;
    width: 100%;
    height: 90px;
    background-color: #333;
    padding: 15px;
    overflow: hidden;
    top: 0px;
    left: 0px;
    color: #dddddd;
}



#mainBox {
    /* position: absolute; */
    margin-top: 120px;

}

#loader {

    display: none;


}

.node {
    fill: #333;
}

.link {
    stroke: #555;
    stroke-width: 2;
    fill: none;

}


.node-rect {
    fill: #111;

}

.githubForkMeBagde {

    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 555;
}

.avatarImage {
    border: 2px solid red;
}

.textLabel {
    stroke: #08c;
    fill: #00a8f8;
}

.tooltipDiv {
    color: #ddd;
    background-color: #111;
    border-radius: 5px;
    z-index: 666;
    left: 20px;
    top: 140px;
    padding: 10px;   position: absolute;

}